.paquetes {
    width: 100vw;
    
   
  }
  
  .title {
    text-align: center;
    font-size: 2rem; /* Adjusted for better readability */
    color: #333; /* Darker color for contrast */
    padding: 10px 0;
    font-family: 'Nunito', sans-serif;
  }
  
  .selectContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .select, .select2 {
    border: 2px solid #2be0e9; /* Primary color for consistency */
    border-radius: 5px;
    font-size: 1em;
  }
  
  .select {
    padding: 5px 10px;
  }
  
  .select2 {
    padding: 0 10px;
    height: 38px;
    width: 200px; /* Set a fixed width */
  }
  
  .container {
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    gap: 20px;
  }
  
  .paquetesContainer {
    width: 100%;
    max-width: 600px; /* Ensure it doesn't become too wide */
    height: 500px;
    overflow-y: auto; /* Allow scrolling */
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  }
  
  .paquete {
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .planTop {
    display: flex;
  }
  
  .imgPlan {
    width: 120px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .planDetail {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .nameAndPrice {
    display: flex;
    padding: 18px 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .planName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .planPrice {
    background-color: #b85aa1;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 600;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag {
    background-color: #2be0e9;
    padding: 3px 6px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
  }
  
  .mapa {
    width: 100%;
    max-width: 600px; /* Ensure it doesn't become too wide */
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  }
  
  .map {
    height: 100%;
    width: 100%;
  }
  
  @media screen and (max-width: 900px) {
    .mapa {
      display: none;
    }
    .select2 {
      width: 100px;
    }
  }
  