.footer {
    background-color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.footerContent {
    display: flex;
    justify-content: center; /* Centramos el contenido */
    align-items: center;
    gap: 20px; /* Espacio entre íconos */
}

.redes {
    display: flex;
    gap: 20px;
}

.icons {
    font-size: 2em;
}
.whatsapp {
    color: #25D366; /* Color verde para WhatsApp */
}

.facebook {
    color: #1877F2; /* Color azul para Facebook */
}

.instagram {
    color: #C13584; /* Color rosa para Instagram */
}

.tiktok {
    color: #000000; /* Color negro para TikTok */
}

.telegram {
    color: #0088CC; /* Color azul para Telegram */
}

.terms {
    color: #b85aa1; /* Color blanco para el ícono de términos */
}
.email {
    color: #b85aa1; /* Cambia el color si lo deseas */
}


.noLink {
    color: inherit; /* Hereda el color del contenedor (blanco en este caso) */
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .footerContent {
        flex-direction: column-reverse;
    }
    .footer {
        height: fit-content;
    }
    .redes {
        margin-top: 25px;
    }
}
