/* Destinos.css */
.flip-card {
  transform-style: preserve-3d;
  transition: transform 2s; /* Aumenta la duración de la transición */
  
}

.flip-card:hover {
  transform: rotateY(180deg);
  transition: transform 2s ease-in-out;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  border-radius: 2%;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 180%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 180%;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* Agrega padding para que el texto tenga espacio */
}

/* Ajusta el contenedor para que las cards tengan separación uniforme */
.flip-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cards horizontalmente */
  gap: 2rem; /* Espacio entre las cards */
  padding: 1rem;
  margin-bottom: 20%;
}

/* Asegura que las cards tengan un tamaño y separación uniforme */
.flip-card {
  width: 20rem; /* Tamaño de la tarjeta */
  height: 15rem; /* Tamaño de la tarjeta */
  perspective: 1000px; /* Añade perspectiva para el efecto 3D */
}

